<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
     <link rel='icon' href='/img/weather.png'>
    <link rel='stylesheet' href='/css/style.css'
</head>
<body>
    <div class='main-content'>
        {{>header}}
        
         <img class='portrait' src="/img/anil.jpg">
    <p>My name is {{name}}</p>
    <p>This site created by me. It uses data from mapbox.com and darksky.net! </p>
    </div>
    
   
    {{>footer}}
</body>
</html>